*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom properties */

:root {
  --ff-sans: 'Spartan', sans-serif;

  --fw-light: 400;
  --fw-reg: 500;
  --fw-bold: 700;

  --fs-body: 0.938rem;

  --clr-white-bg: hsl(0, 0%, 100%);

  --clr-very-dark-magenta-text: hsl(300, 43%, 22%);
  --clr-soft-pink-text: hsl(333, 80%, 67%);

  --clr-dark-grayish-magenta-text: hsl(303, 10%, 53%);
  --clr-light-grayish-magenta-text: hsl(300, 24%, 96%);
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: var(--ff-sans);
  font-size: var(--fs-body);
  color: var(--clr-very-dark-magenta-text);
  text-align: center;
}

/* Typography */
.copy-headline {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  line-height: 1;

  letter-spacing: -1px;
}

.copy-text {
  color: var(--clr-dark-grayish-magenta-text);
  font-weight: var(--fw-light);
  line-height: 1.7;
}

.rating-text {
  font-weight: var(--fw-bold);
}

.testim-name {
  color: var(--clr-light-grayish-magenta-text);
}

.testim-position {
  color: var(--clr-soft-pink-text);
}
.testim-copy {
  color: var(--clr-light-grayish-magenta-text);
}

/* Utility styles */
.container {
  margin: 0 auto;
  padding: 0 1em;

  max-width: 370px;
  background-image: url('./images/bg-pattern-top-mobile.svg');
  background-position: top left;
  background-repeat: no-repeat;
}

/* SECTIONS */

.main {
  margin: 1em auto 5em;
}

/* Hero Section */
.hero {
  margin: 1em auto 3em;
}

.main-copy {
  padding: 2em 0;
}
.copy-headline {
  padding: 1em 0;
}
.copy-text {
  padding: 0;
}

.rating {
  padding: 0.75em 1em;
  margin: 1em auto;

  background-color: var(--clr-light-grayish-magenta-text);
  border-radius: 0.5em;
}

.rating-stars {
  margin-bottom: 0.5em;
}

.fa-star {
  color: hsl(36, 90%, 49%);
}

.fa-star + .fa-star {
  margin-left: 0.5em;
}

/* Testimonials */
.testim-card {
  background-color: var(--clr-very-dark-magenta-text);
  margin: 1em auto;
  padding: 2em 1.5em;
  border-radius: 0.5em;
}

.testim-header {
  display: flex;
  gap: 0.75em;
  margin-bottom: 1em;
}

.testim-details {
  margin-top: 0.5em;
}

.avatar-picture {
  border-radius: 50%;
  width: 60%;
}

.testim-copy {
  text-align: left;
}

/* Footer */

.footer {
  padding: 0.5em 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */

@media (min-width: 1050px) {
  body {
    background-image: url('./images/bg-pattern-top-desktop.svg'),
      url('./images/bg-pattern-bottom-desktop.svg');
    background-position: top left, bottom right;
    background-repeat: no-repeat;
  }

  .container {
    max-width: 1200px;
    padding: 4em 2em;
    background-image: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .main-copy {
    width: 450px;
    text-align: left;
  }

  .copy-headline {
    font-size: 3rem;
    padding: 0.5em 0;
  }

  .ratings {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .rating {
    width: 70%;
    margin: 0.5em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .rating-stars {
    padding-top: 0.5em;
  }

  .rating__reviews {
    position: relative;
    left: -3em;
  }

  .rating__best-in-tech {
    position: relative;
    left: 3em;
  }

  .testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .testim-card {
    width: 30%;
    font-size: 0.8rem;
    padding: 2em 1.75em;
  }

  .testim-card__colton {
    margin-top: -2em;
  }

  .testim-card__anne {
    margin-bottom: -2em;
  }

  .testim-avatar {
    margin-left: -1.2em;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
